# InsurIQ: Data Processing and Cleaning

In this notebook, we will load the datasets, clean them and save them in a cleaner format. 

## 1. Import Function

In [1]:
import pandas as pd

from sklearn.impute import KNNImputer

## 2. Utility Functions

In [2]:
def load_dataset(filepath: str) -> pd.DataFrame:
    df = pd.read_csv(filepath)
    print(df.shape)
    print(df.head(3))
    return df

In [3]:
def count_null_values(df: pd.DataFrame):
    temp_null_values = df.isnull().sum()
    print(temp_null_values[temp_null_values > 0])

## 3. Load Datasets

This dataset contains records of individuals along with their demographic, health, and lifestyle attributes, as well as health insurance claim amounts.

Source: [Kaggle](https://www.kaggle.com/datasets/sureshgupta/health-insurance-data-set)

In [4]:
df_health_demographics_claims = load_dataset('../../data/raw/CSVs/1651277648862_healthinsurance.csv')

df_health_demographics_claims.describe()

(15000, 13)
    age     sex  weight   bmi hereditary_diseases  no_of_dependents  smoker  \
0  60.0    male      64  24.3           NoDisease                 1       0
1  49.0  female      75  22.6           NoDisease                 1       0
2  32.0  female      64  17.8            Epilepsy                 2       1

          city  bloodpressure  diabetes  regular_ex    job_title    claim
0      NewYork             72         0           0        Actor  13112.6
1       Boston             78         1           1     Engineer   9567.0
2  Phildelphia             88         1           1  Academician  32734.2

,age,weight,bmi,no_of_dependents,smoker,bloodpressure,diabetes,regular_ex,claim
count,14604.000000,15000.000000,14044.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,39.547521,64.909600,30.266413,1.129733,0.198133,68.650133,0.777000,0.224133,13401.437620
std,14.015966,13.701935,6.122950,1.228469,0.398606,19.418515,0.416272,0.417024,12148.239619
min,18.000000,34.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1121.900000
25%,27.000000,54.000000,25.700000,0.000000,0.000000,64.000000,1.000000,0.000000,4846.900000
50%,40.000000,63.000000,29.400000,1.000000,0.000000,71.000000,1.000000,0.000000,9545.650000
75%,52.000000,76.000000,34.400000,2.000000,0.000000,80.000000,1.000000,0.000000,16519.125000
max,64.000000,95.000000,53.100000,5.000000,1.000000,122.000000,1.000000,1.000000,63770.400000

This dataset contains records of individuals along with their demographic, lifestyle attributes, as well as health insurance claim amounts.

Source: [Kaggle](https://www.kaggle.com/code/adirozeri/us-health-insurance-dataset/input)

In [5]:
df_demographics_claims = load_dataset('../../data/raw/CSVs/insurance.csv')

(1338, 7)
   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

This dataset contains records of insured individuals (Employer-Sponsored Health Insurance (ESI) Coverage Among Private-Sector Workers) with their demographic along these years.

Source: [Kaggle](https://www.kaggle.com/datasets/asaniczka/health-insurance-coverage-in-the-usa-1979-2019/data)

In [6]:
df_demographics = load_dataset('../../data/raw/CSVs/health_insurance_coverage.csv')

(41, 17)
   year   all  white  black  hispanic   men  white_men  black_men  \
0  2019  53.8   58.0   52.6      41.4  56.8       62.0       53.8
1  2018  52.6   56.8   51.1      39.8  55.1       60.2       51.8
2  2017  54.0   57.3   52.1      43.0  57.1       61.4       53.6

   hispanic_men  women  white_women  black_women  hispanic_women  high_school  \
0          42.4   50.4         53.2         51.5            40.0         46.9
1          40.9   49.6         52.6         50.4            38.3         46.0
2          44.4   50.2         52.4         50.8            41.1         47.6

   bachelors_degree  recent_high-school_graduate  recent_college_graduate
0              63.2                         16.3                     37.0
1              62.5                         14.3                     41.6
2              64.1                         15.8                     37.0

This dataset contains records of individuals insured/uninsured in the United States by Age along these years. Some statistical inference is also provided.

Source: [data.gov](https://catalog.data.gov/dataset/indicators-of-health-insurance-coverage-at-the-time-of-interview)

In [7]:
df_demographics_stats = load_dataset('../../data/raw/CSVs/Indicators_of_Health_Insurance_Coverage_at_the_Time_of_Interview_20250226.csv')

(16056, 16)
                            Indicator              Group          State  \
0  Uninsured at the Time of Interview  National Estimate  United States
1  Uninsured at the Time of Interview             By Age  United States
2  Uninsured at the Time of Interview             By Age  United States

        Subgroup Phase  Time Period     Time Period Label  \
0  United States     1            1  Apr 23 - May 5, 2020
1  18 - 24 years     1            1  Apr 23 - May 5, 2020
2  25 - 34 years     1            1  Apr 23 - May 5, 2020

  Time Period Start Date Time Period End Date  Value  Low CI  High CI  \
0             04/23/2020           05/05/2020   12.6    12.1     13.3
1             04/23/2020           05/05/2020   17.7    14.2     21.6
2             04/23/2020           05/05/2020   16.8    15.6     18.1

  Confidence Interval Quartile Range  Quartile Number  Suppression Flag
0         12.1 - 13.3            NaN              NaN               NaN
1         14.2 - 21.6            NaN              NaN               NaN
2         15.6 - 18.1            NaN              NaN               NaN

This dataset provides health insurance coverage data for each state and the nation as a whole, including variables such as the uninsured rates before and after Obamacare, estimates of individuals covered by employer and marketplace healthcare plans, and enrollment in Medicare and Medicaid programs.

Source: [Kaggle](https://www.kaggle.com/datasets/hhs/health-insurance)

In [8]:
df_states_stats = load_dataset('../../data/raw/CSVs/states.csv')

(52, 14)
      State Uninsured Rate (2010) Uninsured Rate (2015)  \
0  Alabama                  14.6%                 10.1%
1   Alaska                  19.9%                 14.9%
2  Arizona                  16.9%                 10.8%

  Uninsured Rate Change (2010-2015)  \
0                            -4.5%
1                              -5%
2                            -6.1%

   Health Insurance Coverage Change (2010-2015)  \
0                                        215000
1                                         36000
2                                        410000

   Employer Health Insurance Coverage (2015)  \
0                                    2545000
1                                     390000
2                                    3288000

   Marketplace Health Insurance Coverage (2016)  \
0                                        165534
1                                         17995
2                                        179445

   Marketplace Tax Credits (2016) Average Monthly Tax Credit (2016)  \
0                          152206                             $310
1                           16205                             $750
2                          124346                             $230

  State Medicaid Expansion (2016)  Medicaid Enrollment (2013)  \
0                           False                    799176.0
1                            True                    122334.0
2                            True                   1201770.0

   Medicaid Enrollment (2016)  Medicaid Enrollment Change (2013-2016)  \
0                      910775                                111599.0
1                      166625                                 44291.0
2                     1716198                                514428.0

   Medicare Enrollment (2016)
0                      989855
1                       88966
2                     1175624

## 4. Data Cleaning

### 4.1 Health-Demographics-Claims dataset

In [9]:
count_null_values(df_health_demographics_claims)

age    396
bmi    956
dtype: int64

seems like there are a few empty values. We need to do some sort of imputation.

In [10]:
imputer = KNNImputer(n_neighbors=3)
temp_columns_to_impute = ["age", "bmi"]
df_health_demographics_claims[temp_columns_to_impute] = pd.DataFrame(imputer.fit_transform(df_health_demographics_claims[temp_columns_to_impute]))
count_null_values(df_health_demographics_claims)

Series([], dtype: int64)

In [11]:
df_health_demographics_claims.describe()

,age,weight,bmi,no_of_dependents,smoker,bloodpressure,diabetes,regular_ex,claim
count,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000,15000.000000
mean,39.541711,64.909600,30.254804,1.129733,0.198133,68.650133,0.777000,0.224133,13401.437620
std,13.948940,13.701935,6.029389,1.228469,0.398606,19.418515,0.416272,0.417024,12148.239619
min,18.000000,34.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1121.900000
25%,27.000000,54.000000,25.800000,0.000000,0.000000,64.000000,1.000000,0.000000,4846.900000
50%,40.000000,63.000000,29.300000,1.000000,0.000000,71.000000,1.000000,0.000000,9545.650000
75%,52.000000,76.000000,34.300000,2.000000,0.000000,80.000000,1.000000,0.000000,16519.125000
max,64.000000,95.000000,53.100000,5.000000,1.000000,122.000000,1.000000,1.000000,63770.400000

Okay, great! Now we don't have any more missing values left in this dataset! We can save it for future use in the next section.

### 4.2 Demographics-Claims dataset

In [12]:
count_null_values(df_demographics_claims)

Series([], dtype: int64)

In [13]:
df_demographics_claims.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

Oh, wow! we dont have any empty values here, we will just save it as it is now in the next section again.

### 4.3 Demographics dataset

In [14]:
count_null_values(df_demographics)

recent_high-school_graduate    7
recent_college_graduate        7
dtype: int64

We have 7 rows with missing values. We will impute it using K-Nearest Neighors.

In [15]:
imputer = KNNImputer(n_neighbors=3)
temp_columns_to_impute = ["recent_high-school_graduate", "recent_college_graduate"]
df_demographics[temp_columns_to_impute] = pd.DataFrame(imputer.fit_transform(df_demographics[temp_columns_to_impute]))
count_null_values(df_demographics)

Series([], dtype: int64)

In [16]:
df_demographics.describe()

,year,all,white,black,hispanic,men,white_men,black_men,hispanic_men,women,white_women,black_women,hispanic_women,high_school,bachelors_degree,recent_high-school_graduate,recent_college_graduate
count,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000
mean,1999.000000,58.829268,62.036585,54.885366,44.363415,63.002439,67.490244,56.053659,44.958537,53.539024,55.185366,53.648780,43.412195,55.848780,71.156098,22.547059,54.170588
std,11.979149,5.612898,4.559592,4.779151,7.898600,6.775230,5.473016,5.799616,8.904380,3.857776,3.050702,3.730022,6.386752,7.599182,5.686697,6.894209,10.013804
min,1979.000000,51.600000,56.300000,48.500000,35.600000,54.200000,60.200000,47.800000,34.900000,48.600000,51.200000,48.500000,36.100000,45.200000,62.500000,11.800000,34.100000
25%,1989.000000,54.000000,58.200000,52.100000,39.400000,57.100000,62.700000,52.700000,39.300000,50.400000,53.200000,50.800000,39.300000,48.400000,66.500000,17.000000,48.900000
50%,1999.000000,58.300000,61.700000,53.900000,41.600000,62.600000,67.100000,53.900000,42.300000,53.000000,54.600000,52.800000,40.800000,55.600000,71.600000,22.547059,55.700000
75%,2009.000000,61.500000,64.000000,55.700000,46.000000,66.700000,70.400000,56.800000,45.800000,54.800000,55.700000,54.900000,44.700000,60.700000,75.000000,26.200000,59.800000
max,2019.000000,70.500000,71.800000,65.500000,62.200000,77.100000,78.900000,69.000000,66.600000,61.300000,61.700000,62.700000,59.300000,70.700000,81.500000,43.100000,72.100000

Looks all good now! We will save the data in the next step!

### 4.4 Demoghraphics Stats Dataset

In [17]:
count_null_values(df_demographics_stats)

Value                    911
Low CI                   911
High CI                  911
Confidence Interval      911
Quartile Range          5039
Quartile Number         5040
Suppression Flag       15757
dtype: int64

In [18]:
df_demographics_stats.shape

(16056, 16)

There are so many missing values here, I don't know if I should really impute in this case, especially because it is a calculated value that is missing!

Hence, for now - I will just leave it as it is.

### 4.5 States Stats Dataset

In [19]:
count_null_values(df_states_stats)

State Medicaid Expansion (2016)           1
Medicaid Enrollment (2013)                2
Medicaid Enrollment Change (2013-2016)    2
dtype: int64

I am for now only doing an initial analysis on this dataset (probably won't even use these columns now, so will do the imputation tasks later).

## 5. Save cleaned data

In [20]:
df_health_demographics_claims.to_csv('../../data/clean/health_demographics_claims.csv', index=False)

In [21]:
df_demographics_claims.to_csv('../../data/clean/demographics_claims.csv', index=False)

In [22]:
df_demographics.to_csv('../../data/clean/demographics.csv', index=False)

In [23]:
df_demographics_stats.to_csv('../../data/clean/demographics_stats.csv', index=False)

In [24]:
df_states_stats.to_csv('../../data/clean/states_stats.csv', index=False)